body {
    background-color: #B3AF8F;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
}

#number {
    font-size: 25pt;
}